on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os.runs-on }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - { runs-on: ubuntu-latest, name: linux-x64}
          - { runs-on: windows-latest, name: win-x64}
    
    steps:
      - uses: actions/checkout@v5
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: 3.13
          requirements: requirements.txt
          exe_path: ./dist/simple-blendshape-keybinder
          options: --onefile main.py, --name "simple-blendshape-keybinder",
      - name: Copy config.toml
        shell: bash
        run: cp config.example.toml ./dist/simple-blendshape-keybinder/config.toml
      - name: Windows Zip
        run: |
          cd ./dist
          7z a ../simple-blendshape-keybinder-${{ matrix.os.name }}.zip simple-blendshape-keybinder
        if: ${{ matrix.os.runs-on == 'windows-latest' }}
      - name: Linux Tar.gz
        run: |
          cd ./dist
          tar -czf ../simple-blendshape-keybinder-${{ matrix.os.name }}.tar.gz simple-blendshape-keybinder
        if: ${{ matrix.os.runs-on == 'ubuntu-latest' }}

      - uses: actions/upload-artifact@v4
        with:
          name: simple-blendshape-keybinder-${{ matrix.os.name }}.zip
          path: simple-blendshape-keybinder-${{ matrix.os.name }}.zip
        if: ${{ matrix.os.runs-on == 'windows-latest' }}

      - uses: actions/upload-artifact@v4
        with:
          name: simple-blendshape-keybinder-${{ matrix.os.name }}.tar.gz
          path: simple-blendshape-keybinder-${{ matrix.os.name }}.tar.gz
        if: ${{ matrix.os.runs-on == 'ubuntu-latest' }}