on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        default: "0.0.0"
        required: true
        type: string
      release-draft:
        type: boolean
        default: false
        description: "Release Draft"

jobs:
  build:
    runs-on: ${{ matrix.os.runs-on }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - { runs-on: ubuntu-latest, name: linux-x64}
          - { runs-on: windows-latest, name: win-x64}
    
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6 
        with:
          python-version: '3.13'
      - name: Install requirements & pyinstaller
        run: |
          pip install -r requirements.txt
          pip install pyinstaller
      - name: Run pyinstaller
        shell: bash
        run: |
          pyinstaller -F main.py \
          -n simple-blendshape-keybinder \
          --hidden-import=pynput.keyboard._xorg \
          --hidden-import=pynput.mouse._xorg \
          --distpath=./dist/simple-blendshape-keybinder
      - name: Copy config.toml
        shell: bash
        run: cp config.example.toml ./dist/simple-blendshape-keybinder/config.toml
      - name: Windows Zip
        run: |
          cd ./dist
          7z a ../simple-blendshape-keybinder-${{ matrix.os.name }}.zip simple-blendshape-keybinder
        if: ${{ matrix.os.runs-on == 'windows-latest' }}
      - name: Linux Tar.gz
        run: |
          cd ./dist
          tar -czf ../simple-blendshape-keybinder-${{ matrix.os.name }}.tar.gz simple-blendshape-keybinder
        if: ${{ matrix.os.runs-on == 'ubuntu-latest' }}

      - uses: actions/upload-artifact@v4
        with:
          name: simple-blendshape-keybinder-${{ matrix.os.name }}.zip
          path: simple-blendshape-keybinder-${{ matrix.os.name }}.zip
        if: ${{ !inputs.release-draft && matrix.os.runs-on == 'windows-latest' }}

      - uses: actions/upload-artifact@v4
        with:
          name: simple-blendshape-keybinder-${{ matrix.os.name }}.tar.gz
          path: simple-blendshape-keybinder-${{ matrix.os.name }}.tar.gz
        if: ${{ !inputs.release-draft && matrix.os.runs-on == 'ubuntu-latest' }}

      - name: Release Draft
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.version }}
          draft: true
          files: simple-blendshape-keybinder-*
        if: ${{ inputs.release-draft }}
